<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Wikinota</title>
  <link rel="stylesheet" href="/static/css/main.css" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"   crossorigin="anonymous" type="text/css">


  <meta name="theme-color" content="#000">


  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/manifest.json">
  <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#000000">
  <link rel="shortcut icon" href="/static/favicon/favicon.ico">
  <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">



  <style>
    @import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');
  </style>

  <style>
    .GoodReadCSS {
      font-family: 'Ubuntu', sans-serif;
    }
  </style>

  <link href="https://cdn.jsdelivr.net/gh/i5heu/GoodReadCSS@3/GoodReadCSS.min.css"  crossorigin="anonymous" rel="stylesheet">

</head>

<body>
  <div id="root">
    <header id="header">
      <wn-search inline-template>
        <div id="headerbar">
          <span v-if="searchOpen == true">
            <button class="headerelement" v-on:click="searchOpen = false" id="homebutton"><i class="fa fa-times" aria-hidden="true"></i></button>
          </span>
          <span v-else>
           <router-link   id="HeaderHome" :to="{ name : 'home' }"><button class="headerelement"><i class="fa fa-home" aria-hidden="true"></i></button></router-link>
         </span>
          <span v-if="searchOpen == true">

            <input type="text" @focus="searchOpen = true" class="headerelement" v-on:keyup.enter="SearchEvaluator" v-focus id="searchinput" v-model="SearchQery" placeholder="SearchQery"><button class="headerelement" v-on:click="SearchEvaluator" id="searchbutton"><i class="fa fa-search" aria-hidden="true"></i></button>
            <div class="instantSearch" >
              <table>
                <tr>
                  <th>Path</th>
                  <th>Title1</th>
                  <th>Title2</th>
                  <th>Tags1</th>
                  <th>Text1</th>
                </tr>
                <tr v-for="item in instantSearchResults.List">
                  <td><router-link :to="{ name: 'page', params: { path: item.Path}}">{{item.Path}}</router-link></td>
                  <td>{{ item.Title1 }}</td>
                  <td>{{ item.Title2 }}</td>
                  <td>{{ item.Tags1 }}</td>
                  <td>{{ item.Text1 }}</td>
                </tr>
              </table>
            </div>
          </span>
          <span v-else>
           <button class="headerelement" id="searchbutton" v-on:click="searchOpen = !searchOpen"><i class="fa fa-search" aria-hidden="true"></i></button>
          </span>
          <button class="headerelement" v-on:click="menue = !menue" id="menuebutton">☰</button>


          <!--<offsync></offsync>-->
        </div>
      </wn-search>
    </header>
    <div id="spacer"></div>
    <wn-menue id="menue" inline-template>
      <transition name="slide-fade">
        <div id="wn-menue" v-if="menue">
          <ul class="menueSidebarTable" v-on:click="menue = false">
            <li>
              <router-link class="noDecoration LinkButton" :to="{ name: 'geldlog'}">Geldlog</router-link>
            </li>
            <li>
              <router-link class="noDecoration LinkButton" :to="{ name: 'NewPage'}">New Page</router-link>
            </li>
            <li>
              <router-link class="noDecoration LinkButton" :to="{ name: 'delete'}">delete</router-link>
            </li>
          </ul>
        </div>
      </transition>
    </wn-menue>

    <wn-login ref="wn-login" inline-template>
      <div v-show="CheckModalvar() == true" style="display:none;" class="modal-mask">
        <div>
          <div class="modal" id="AppLogin">
            UserName:
            <input type="text" @keyup.enter="HashSave(username_log, pwd_log)" v-model="username_log" placeholder="insert username" /><br>
            PassWD:
            <input type="password" @keyup.enter="HashSave(username_log, pwd_log)" v-model="pwd_log" placeholder="insert password" /><br>
            <button v-on:click="HashSave(username_log, pwd_log)">Login</button><br><br>

            <a href="/static/impressum.html">Impressum</a>
            <a href="/static/datenschutz.html">Datenschutz</a>

          </div>
        </div>
      </div>
    </wn-login>




    <router-view></router-view>


  </div>
  <!--ROOT DIV END -->

  <script>
    /* SET THE SPACER TO HEIGHT OF HEADER */
    document.addEventListener("DOMContentLoaded", function(event) {
      if (document.getElementById('header').scrollHeight != null) {
        var h = document.getElementById('header').scrollHeight;
        h += "px"
        document.getElementById('spacer').style.height = h;
        console.log("Spacer set to -> ", h);
      }
    });
  </script>

  <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/jshashes@1/hashes.min.js" ></script>
  <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/pouchdb@6.3.4/dist/pouchdb.min.js" ></script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js" integrity="sha256-TaLceMwjWRqe4yhbqPOJH6V7UGt5AvvdNfpaIXJWbFU=" crossorigin="anonymous"></script>
  <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js" ></script>
  <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4" ></script>
  <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/vue-focus@2.1.0/dist/vue-focus.common.min.js" ></script>
  <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/marked@0.3.6/lib/marked.min.js" ></script>
  <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/moment@2.19.1/moment.min.js" ></script>
  <script src="/static/js/OffSync.js"></script>
  <script src="/static/js/desk.js"></script>
  <script src="/static/js/geldlog.js"></script>
  <script src="/static/js/pedit.js"></script>
  <script src="/static/js/search.js"></script>
  <script src="/static/js/DeleteManager.js"></script>
  <script src="/static/js/main.js"></script>


  <script>
    window.addEventListener('beforeinstallprompt', function(e) {
      // beforeinstallprompt Event fired

      // e.userChoice will return a Promise.
      // For more details read: https://developers.google.com/web/fundamentals/getting-started/primers/promises
      e.userChoice.then(function(choiceResult) {

        console.log(choiceResult.outcome);

        if (choiceResult.outcome == 'dismissed') {
          console.log('User cancelled home screen install');
        } else {
          console.log('User added to home screen');
        }
      });
    });



    /*CACHE SERVICE WORKER*/

if (navigator.serviceWorker.controller) {
  console.log('[PWA Builder] active service worker found, no need to register')
} else {

//Register the ServiceWorker
  navigator.serviceWorker.register('/pwabuilder-sw.js', {
    scope: './'
  }).then(function(reg) {
    console.log('Service worker has been registered for scope:'+ reg.scope);
  });
}


  </script>

</body>

</html>
